 /* Navigation */
 .nav ul {
    display: block;
    display: grid;
    list-style: none;
    background-color: black;
    grid-template-columns: repeat(5, 1fr);
  } 
  .nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.1rem;
  }

  .nav {
    grid-area: nav;
    text-align: center;
    background-color: black;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'logo ul ul ul ul ul ul ul  ul ul ul ul ul  ul tag'
  }
  
  .logo {
    margin-top: 2.5vh;
    grid-area: logo;
    min-height: 30px;
  }
  #img{
    background-color:#3CB371		;
    min-width: 90px;
  }
  .fa-home:before {
    margin-right: 10px;
  }

  #nav-toggle {
      display: none;
      grid-area: tag;
  }

  #nav-icon{
    margin-top: 4vh;
  }

  #header-h2{
      width: 100px;  
      margin-left: 3vh;
      position: absolute;
      bottom: 51vh;
      border: 3px solid black;
      background-color: black;
      color: white;
  }
    /* header dropdown */
    .dropdown {
      position: relative;
      min-width: 110px;
      display: inline-block;
    }
    
    .dropdown-content {
      min-width: 150px;
      position: absolute;
      text-align: center;
      display: none;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }

@media (max-width: 700px) {
    #nav-toggle {
        height: 20px;
        display: block;
    }
    .nav ul {
        display: none;
    }
    .dropdown-content {
      min-width: 150px;
      position: absolute;
      right: 30px;
      -color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .fa-bars:before {
      content: "\f0c9";
      position: absolute;
      right: 5px;
      margin-top: -6px;
  }
  }
